<div class="app-container" [ngClass]="{'dark-mode': isDarkMode}">
    <div class="animated-bg"></div>
    
    <header class="header">
      <div class="logo">QR Code Generator</div>
      <button class="theme-toggle" (click)="toggleTheme()">
        <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
      </button>
    </header>
  
    <div class="qr-container">
      <h1 class="title-animate">QR Code Generator</h1>
      
      <div class="input-section">
        <input [(ngModel)]="inputText" placeholder="Enter text to generate QR code" />
        <button    class="generate-btn" 
        [ngClass]="{'dark-button': isDarkMode}" (click)="generateQRCode()">Generate QR Code</button>
        <!-- <button (click)="downloadQRCode()" [disabled]="!qrCodeDataUrl">Download QR Code</button> -->
        <canvas #qrCanvas></canvas>
        <div *ngIf="isError" class="error">{{ errorMessage }}</div>
      </div>
  
      <div class="qr-output" *ngIf="qrCodeDataUrl">
        <canvas #qrCanvas class="canvas-animate"></canvas>
        <button 
          class="download-btn"
          (click)="downloadQRCode()"
          [ngClass]="{'dark-button': isDarkMode}"
        >
          Download QR Code
        </button>
      </div>
    </div>
  
    <footer class="footer">
      <p>Created by Ahmed Butt</p>
      <div class="social-links">
        <a href="#" class="social-link"><i class="fab fa-github"></i></a>
        <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>
  </div>
  
  